body{
    background-color: wheat;
    font-family:'Times New Roman', Times, serif;
}
#header{
    background-color: rgb(167, 105, 29);
    padding: 15px;
}
h1{
    text-align: center;
    color: blue;
    font-size: 1;
}
.gambar{
    text-align: center;
}
blockquote{
    background-color: yellow;
    border: 1px dotted black;
    text-align: center;
    font-weight: bold;
    color: black;
    margin: 1 auto;
}
ul{

    text-align: center;
    list-style: none;
}
.li1{
    float: none;
    margin-left:-110px;
}
.li2{
    margin-top: -18px;
    float: none;
}
.li3{
    float: none;
    margin-left: 110px;
    margin-top: -18px;
}

.huruf{
    font-size: 80px;
    font-style: bold;
    color: blueviolet;
}
